@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

.cursor {
  cursor: pointer;
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.lead {
  font-weight: 600;
}
.not-found {
  font-size: 0.8rem;
  font-style: italic;
}
.card {
  position: static;
}
.toSignin {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
  transform: translateY(-50%);
}

.profile-info {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: cursive, sans-serif;
}

.name-profile,
.email-profile,
.joined-profile,
.about-profile {
  font-family: monospace;
}

.button-container {
  width: 70%;
}

.about-profile {
  margin: 1rem 0;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.avatar-profile img {
  width: 100%;

  margin-bottom: 2rem;
  height: auto;
}

.avatar-users:hover {
  filter: brightness(1.2);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.info-title-user {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  padding: 0.5rem 0 !important;
  color: #009688 !important;
}
.litle-avatar {
  border-radius: 50%;
  flex-basis: 30%;
  width: 100%;
  height: 100%;
}

.contain-litle-avatar {
  flex-basis: 20%;
  margin: 0.3rem 0;
}

.contain-litle-avatar:hover {
  filter: brightness(1.2);
}
.name-after-avatar {
  display: inline;
  text-align: left;
  margin: 0;
  font-size: 1.4rem;
  color: #009688 !important;
  font-weight: 600;
}
.name-after-post {
  font-size: 1rem;
}

.border-circle {
  border-radius: 50%;
}

.content-litle-avatar {
  display: block;
  border-radius: 50%;
  width: 50%;
  background-size: cover;
  background-position: center;
}

.content-litle-avatar:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.box-navigator {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 1rem;
  word-break: break-all;
}

.list-group-item {
  padding: 0.3rem;
}

.box-navigator::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.box-navigator::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.box-navigator::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.img-post {
  width: 100%;
  padding-top: 60%;
  background-position: center;
  background-size: cover;
  border: 0.4rem solid #fff;
}

textarea {
  line-height: 1.2;
}
.card-body {
  padding: 0.6rem 1rem 0 1rem;
}

.card-text {
  white-space: pre-line;
}

.post-footer {
  border-top: 1px solid silver;
  padding-top: 0.3rem;
}
.container-little-post {
  border-radius: 0;
}
.pos-stick {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.contain-litle-post {
  flex-basis: 30%;
  flex-shrink: 0;
}

.list-group .list-group-item.comment {
  border-bottom: 1px solid silver;
  padding-left: 0;
  margin-bottom: 1rem;
}
.created-post {
  font-size: 0.6rem;
  text-align: left;
}

.leave-comment {
  margin-top: 2rem;
}

.like {
  font-size: 1.5rem;
}
.container-title {
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.container-title img {
  position: absolute;

  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.container-body {
  white-space: pre-line;
  font-size: 1.2rem;
  line-height: 1.3;
}

.loading {
  background-color: silver;
}

.container-postedBy {
  background-color: rgb(255, 252, 210);
  padding: 0.2rem;
  padding-left: 0.5rem;
  font-style: italic;
}
.button-container-post {
  width: 50%;
}
.card-columns {
  column-gap: 0.5rem;
  column-width: 0 !important;
  column-count: 1;
  /* width: 100%; */
}

.contain-full-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.full-img {
  z-index: 203;
  max-width: 100%;
  max-height: 100%;
}

.full-img img {
  max-width: 100%;
  max-height: 100%;
}
.close-img {
  position: absolute;
  font-size: 2rem;
  color: #8888;
  top: 0;
  right: 0;
  margin: auto;
  z-index: 202;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 201;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
  /* .full-img img {
    width: -webkit-fill-available;
    height: auto;
  } */
}
@media screen and (min-width: 990px) {
  .pr-5-md {
    padding-right: 2rem;
  }
  .pl-5-md {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .avatar-profile img {
    margin-bottom: 0;
  }
  .avatar-profile {
    margin-right: 20%;
  }
  .box-navigator {
    max-height: 80vh;
    overflow-y: auto;
  }
  .content-litle-avatar {
    width: 80%;
  }
  .list-group-item {
    padding: 0rem;
  }
  .full-img img {
    height: -webkit-fill-available;
  }
  .close-img {
    font-size: 2rem;
  }
  .contain-full-img {
    padding: 2rem;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
  .close-img {
    font-size: 3rem;
  }
}
